asttokens
attrs
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
certifi==2023.7.22
charset-normalizer==3.2.0
comm
contourpy==1.1.0
cycler==0.11.0
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
fonttools==4.42.0
idna==3.4
ipykernel
ipython
jedi
Jinja2
jsonschema
jupyter-client
jupyter_core
jupyterlab-pygments
kiwisolver==1.4.4
lxml
MarkupSafe
matplotlib==3.7.2
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
numpy==1.25.2
opencv-python==4.8.0.76
packaging
pandas==2.1.1
pandocfilters
parso
pexpect
pickleshare
Pillow==10.0.0
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing==3.0.9
pyrsistent
python-dateutil
pytz==2023.3.post1
pyzmq
requests==2.31.0
scipy==1.11.2
six
soupsieve
stack-data
tinycss2
tornado
traitlets
typing_extensions
tzdata==2023.3
urllib3==2.6.3
wcwidth
webencodings==0.5.1

